@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Bebas Neue Pro';
    src: local('Bebas Neue Pro'), url("../assets/fonts/BebasNeuePro/BebasNeuePro-SemiExpBold.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

.min-h-46 {
    min-height: 46rem;
}

*, *:hover {
    cursor: url("../assets/pointer.cur"), default;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Bebas Neue Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-repeat: repeat;
  background-position: fixed;
}

body {
  background-color: rgb(0, 0, 0);
  color: white;

  padding-bottom: 20rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

p {
    @apply text-zinc-400 mb-2
}

h1 {
    @apply mb-2
}

.icon{
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
}

.small-icon{
    width: 15px;
    height: 15px;
}

input{
    @apply bg-transparent text-white outline-none border-b-2 mb-4
}

textarea{
    @apply bg-transparent outline-none border-b-2 mb-5 whitespace-normal overflow-x-hidden break-words
}

.checkbox{
    @apply appearance-none w-6 h-6 checked:!bg-white !bg-black checked:border-2
    !rounded-full border-2 shrink-0 mr-2
    flex justify-center transition-all duration-300
}

/* Slider ////////////////////////////////////////////////////////////////////////////*/
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #8b8b8b;
}
