.box{
    @apply rounded-lg p-6 flex justify-center h-80 items-center
}

.h-112 {
    height: 36rem;
}

.text-shadow-diffusion {
    text-shadow: 0 4px 0px var(--shadowColor)
}

.card-outlined {
    @apply
    flex flex-col justify-start items-center
    px-12 py-16 h-3/4 w-full
    transition-all duration-1000 ease-in-out
    bg-gradient-to-b from-black to-black
    hover:from-neutral-950 hover:to-black rounded-xl
}
