.flex-center-all-row{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
}

.flex-center-all-column{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.registration-container-padding{
    padding-left: 210px;
    padding-right: 210px;
}

.registration-form {
    border-top: 2px solid #B9B7FF;
    background-image: 
        linear-gradient(#B9B7FF, #000000),
        linear-gradient(#B9B7FF, #000000)
    ;
    background-size:2px 100%;
    background-position:0 0, 100% 0;
    background-repeat:no-repeat;


    width: 100%;
    height: 570px;
    border-radius: 20px;
}

.register-container-text{
    width: 50%;
    height: 150px;
}

.register-container-text img{
    width: 30px;
}

.register-container-text h4 {
    margin: 0;
    padding: 0;
    margin-left: 15px;
}

.register-container-text h5{
    letter-spacing: 0.3em;
}

.register-container-inputs {
    width: 50%;
    height: 290px;
    margin-top: 50px;
}

.register-container-inputs form{
    width: 80%;
    margin-right: 90px;
    margin-top: 30px;
}

.register-container-inputs .input-field-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
}

.register-container-inputs .input-container input,
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
    border: none;
    border-bottom: 2px solid #ffffff;
    outline: none;
    background: none;
    margin: 5px 0px 10px 0px;
    font-size: 20px;
    width: 100%;
    -webkit-text-fill-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0 0 0px 1000px #000000 inset;
    -webkit-font-feature-settings: 20px;
    caret-color: rgba(255, 255, 255, 0.5);
    padding-bottom: 5px;
}

.input-container input::placeholder {
    opacity: 0.7;
    transition: opacity 0.3s ease;
    color: #717171;
    letter-spacing: 0.3em;
    font-size: 16px;
    padding-left: 5px;
}

.input-container input:focus::placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
    color: #717171;
    letter-spacing: 0.3em;
    font-size: 16px;
    padding-left: 5px;
}

.input-container label {
    margin: 0 0 10px 30px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-style: italic;
}

.input-field-container img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    outline: none;
}

.error-container {
    margin: 0px;
    height: 30px;
}

.error-container .error-message {
    color: rgb(190, 0, 0);
    letter-spacing: normal;
    display: flex;
    margin: 0;
}

.registration-navigation-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.registration-navigation-container .container {
    margin-right: 50px;
}

.register-container-inputs .already-registered-label{
    letter-spacing: 0.2em;
    color: #717171;
    /* letter-spacing: normal; */
    margin-bottom: 5px;
    display: flex;
    align-content: center;
}

.show-password-image {
    position: absolute;
    right: 500px;
    transform: translateY(-50%);
}